.header-main {
    /*padding: 30px 0px;*/
    padding-top: 10px;
    background-color: #000;
    position: relative;
    z-index: 99;
}
.header-inner {
    padding: 0 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-map-custom{
    cursor: pointer;text-align: center;position: relative;width: 100%;color: #fff;
    font-size: 12px;
    font-family: 'Sifonn-Basic';
    text-transform: uppercase;
    z-index: 200;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear
}

.button-map-custom_new{
  cursor: pointer;text-align: center;position: relative;width: 100%;color: #fff;
    font-size: 12px;
    font-family: 'Sifonn-Basic';
    text-transform: uppercase;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear 
}
.pages_link, .pages_link:visited {
    text-decoration: underline;
}
.pages_link {
    color:#ffe6b3 !important;
}
.pages_link:visited{
    color: #ffaa00 !important;
}
.button-map-custom{
    color:none;
}

.button-map-custom_new{
  color:none;
}


html, body {
    margin: 0;
    padding: 0;
  }

  * {
    box-sizing: border-box;
  }

  .slider {
      width: 50%;
      margin: 100px auto;
  }

  .slick-slide {
    margin: 0px 20px;
  }

  .slick-slide img {
    width: 100%;
  }

  .slick-prev:before,
  .slick-next:before {
    color: black;
  }


  .slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
  }
  
  .slick-active {
    opacity: .5;
  }

  .slick-current {
    opacity: 1;
  }
  .slider {
      width: 84% !important; 
      margin: 30px auto !important; ;
  }
  .slick-prev:before, .slick-next:before {
      color: white !important; ;
      font-size: 30px !important; ;
  }
  .slick-prev, .slick-next {
      top: 30% !important; ;
  }